<%= stylesheet_link_tag "style/style2", :media => "all" %>

<div class="container" id="mainContent">
  <div class="row">
    <div class="akitennisclass1675" role="main">
      <!-- MainContent -->


      <section class="akitennisclass2348">
        <div id="comments" class="akitennisclass2348">
          <% @posts.each do |post| %>

            <div id="last_comment" class="akitennisclass1292 akitennisclass2594">
              <div class="akitennisclass1764">
                <div class="popover right show">
                  <div class="arrow"></div>

                  <div class="popover-content">
                    <div class="akitennisclass1291 akitennisclass1926">
                      <div class="akitennisclass313 akitennisclass1766 akitennisclass1853">


                        <b class="akitennisclass1539">
                                                    <span class="label akitennisclass1035" style="margin-right: 5px;">
                                                       <%= post.name %> </span>
                        </b>
                      </div>

                    </div>
                    <!--.clearfix-->
                    <p class="text-white">
                      <%= post.content %>
                    </p>
                    <div class="akitennisclass1926">
                      <div class="akitennisclass313 akitennisclass1531 akitennisclass1853">
              <span class="akitennisclass1539 text-white" data-container="body" data-toggle="tooltip" title="2019/06/10 09:33">
                <i class="fa fa-clock"></i> <time datetime="<%= post.created_at %>"><%= time_ago_in_words(post.created_at) + "前" %></time>
              </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          <% end %>
        </div>
        <%= form_tag('/home/create', method: :post, class: "new_content_comment", id: "comment_form") do %>
          <div style="display:none">
            <input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="k0tPgtHEk5ruAunyEF/65Dfh/LCXhgYs77fMPOnXGes=">
          </div>
          <div class="panel akitennisclass982">
            <div class="akitennisclass987">
              <ul class="akitennisclass1306 akitennisclass1290">
                <li>
                  <span class="label akitennisclass1036">この掲示板にコメントしましょう！</span>
                </li>

              </ul>
            </div>
            <div class="akitennisclass1502">
              <div class="uploadedImage">

              </div>
              <div class="uploadedVideo">

              </div>
              <div class="uploadedTwitter"></div>
              <div class="uploadedFacebook"></div>


              <p>
                <%= text_field_tag :name, "", placeholder: "お名前", class: "autoResizeable charCountable akitennisclass1200", id: "name", style: "min-height: 3em; max-height: 250px; overflow: hidden; overflow-wrap: break-word; resize: horizontal;    width: 50%; margin-bottom:5px; " %>

                <%= text_field_tag :content, "", placeholder: "投稿内容", class: "autoResizeable charCountable akitennisclass1200", id: "content_comment_body", style: "min-height: 3em; max-height: 250px; overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 66px;" %>
              </p>
              <div class="akitennisclass1926">
                <%= submit_tag "作成", class: "btn akitennisclass1316 akitennisclass1531 gaEventTrackableWithConfirm aaEventTrackableWithConfirm" %>
              </div>
            </div>
          </div>
        <% end %>


      </section>


    </div>
  </div>
</div>
