<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>掲示板デザイン</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  </head>

  <body>


  <header class="akitennisclass1741">
    <nav class="akitennisclass1737">
      <div class="container">
        <div class="akitennisclass1926 title">
            AKI REVO | BBS
        </div>
        <!--clearfix-->
      </div>
    </nav><!--v2-navtop-->


    <div class="container">
      <div class="akitennisclass975">
        <div class="akitennisclass1232">
          Toral: <span><%=@posts.count %></span> POSTS!!
        </div>
        <div class="akitennisclass810">
環境構築が要らないアプリケーション作成講座


        </div>
      </div>
      <!--green-project-->
    </div>


    <!-- / HAPPY METER -->

  </header>
    <%= yield %>


  <footer class="akitennisclass1247 akitennisclass2481" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="akitennisclass1826 text-md-left">

        </div>
        <div class="akitennisclass1677 text-md-left align-self-center">
          <ul class="akitennisclass1306 akitennisclass2520">
            <li class="list-inline-item">
              <a href="https://www.facebook.com" target="_blank"><img alt="Icon footer facebook" height="28" src="/assets/facebook.svg"></a>
            </li>
            <li class="list-inline-item">
              <a href="53455">
              </a><a href="https://twitter.com" target="_blank"><img alt="Icon footer twitter" height="28" src="/assets/twitter.svg"></a>
            </li>
            <li class="list-inline-item">
              <a href="53455">
              </a><a href="https://www.youtube.com" target="_blank"><img alt="Icon footer youtube" height="28" src="/assets/youtube.svg"></a>
            </li>
            <li class="list-inline-item">
              <a href="53455">
              </a><a href="https://line.me" target="_blank"><img alt="Icon footer line" height="20" src="/assets/line.png"></a>
            </li>
            <li class="list-inline-item">
              <a href="53455">
              </a><a href="https://www.instagram.com" target="_blank"><img alt="Icon footer instagram" height="28" src="/assets/instagram.svg"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="akitennisclass1302 akitennisclass2320">© AKI REVO</div>


    </div>

    <!--.container-->

  </footer>
  </body>
</html>
